<!-- ======= F.A.Q Section ======= -->
<section id="faq" class="faq">

    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <h2>Hakkımızda</h2>
        <p>Sıkça Sorulan Sorular</p>
      </header>

      <div class="row">
        <div class="col-lg-6">
          <!-- F.A.Q List 1-->
          <div class="accordion accordion-flush" id="faqlist1">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-1">
                  Bu web sitesinin amacı nedir?
                </button>
              </h2>
              <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                <div class="accordion-body">
                  <p>
                  Üniversite son sınıf öğrencisiyim. Bu sitede, 4 senelik süreç boyunca yaşadığım sorunları çözmek için uygulamalar yaptım. <b>Amacım sizlere fayda sağlamak.</b> <br> <a href="{% url 'about' %}">Buraya tıklayarak</a> neler yapabilirsin gör.
                  </p>
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-3">
                  Site herhangi bir kuruma bağlı mı?
                </button>
              </h2>
              <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                <div class="accordion-body">
                  Sitenin herhangi bir eğitim kurumu ile bağlantısı yoktur. Herhangi bir üniversite için yapılmamıştır.
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-2">
                  Site ücretsiz mi?
                </button>
              </h2>
              <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                <div class="accordion-body">
                  <b>Site tamamen ücretsizdir.</b> Burada sizden beklenen, siteden bir fayda gördüyseniz, siteye bir fayda sağlamanız gerektiğidir.
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="col-lg-6">

          <!-- F.A.Q List 2-->
          <div class="accordion accordion-flush" id="faqlist2">

            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-1">
                  Yorum bölümü nasıl çalışır?
                </button>
              </h2>
              <div id="faq2-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                <div class="accordion-body">
                  Türkiye'deki akademisyenlerin tek ortak paydası <b>avesis</b> bağlantılarıdır. Bu nedenle  yorum yaparken avesis sayfalarına gitmeli ve <b>tarayıcıdaki bağlantıyı kopyalamalısınız.</b> Bu bağlantıyı kullanarak arama yapabilir ve yorum yapabilirsiniz. <b style='color:tomato;'>Karşı tarafa zarar verecek kötü sözler, argo ve benzeri yorumlar onaylanmayacak ve yorumunuz sitede görülmeyecektir.</b> Bu nedenle kendinizi daha iyi ifade etmenizi rica ediyorum.
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-3">
                  Not bölümü nasıl çalışır?
                </button>
              </h2>
              <div id="faq2-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                <div class="accordion-body">
                  Derslerin isimleri benzer olsa da içerikleri farklı olabilir. Bu sorunu çözmek için <b>bologna sistemindeki ders kodunu</b> kullanarak arama ve ekleme yapmanız gerekmektedir.
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-2">
                  Hatıra Defteri nedir?
                </button>
              </h2>
              <div id="faq2-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                <div class="accordion-body">
                  Burayı onlyildiz topluluğunun bir tableti olarak düşünebilirsiniz. Bir şeyler yazın ve hatıra olarak saklayın.
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>

    </div>

  </section><!-- End F.A.Q Section -->