{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Onlyildiz</title>
  <meta content="" name="description">

  <meta content="" name="keywords">
  <!-- Favicons -->
  <link rel="shortcut icon" href="{% static 'assets/img/note.png' %}" type="image/x-icon" />
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}"rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

 <!-- Google tag (gtag.js) -->
 
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-X3N9ZGWEFS"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-X3N9ZGWEFS');
  </script>

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="{% url 'homepage' %}" class="logo d-flex align-items-center">
        <span>Onlyildiz</span>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li class="dropdown"><a href="{% url 'about' %}"><span>Neler Yapabileceğini Gör</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li class="dropdown"><a href="{% url 'memorybook' %}"><span>Hatıra Defteri</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="{% url 'memorycreate' %}">Ekle</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="{% url 'commentresearchpage' %}"><span>Yorum</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="{% url 'commentcreatepage' %}">Ekle</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="{% url 'notespage' %}"><span>Notlar</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="{% url 'notecreate' %}">Ekle</a></li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  
{% block content %}

{% endblock  %}

{% block include %}

{% endblock  %}



  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js'%}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js'%}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js'%}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js'%}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js'%}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js'%}"></script>

  

</body>

</html>