{% extends 'base/index.html' %}
{% load static %}
{% block content %}
<!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">Amacımız sizlere daha kolay bir süreç sunmak</h1>
          <h2 data-aos="fade-up" data-aos-delay="400">Bizi daha yakından tanımak ister misin?</h2>
          <div data-aos="fade-up" data-aos-delay="600">
            <div class="text-center text-lg-start">
              <a href="#faq" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                <span >Hadi Başlayalım</span>
                <i class="bi bi-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 hero-img" data-aos="fade-up" data-aos-delay="200">
          <img src="{% static 'assets/img/main.png' %}" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->
  
{% endblock content %}

{% block include %}
{% include 'base/fag.html' %}
{% include 'base/about.html' %}
{% include 'base/footer.html' %}
{% endblock  %}

